{% extends 'security/public_base.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}Request Password{{ config['APP_NAME'] }}{% endblock %}

{% block content %}
<div class="container" style="padding-top: 15px">
  <div class="col-md-8 col-lg-6">
        <h1>Request Password</h1>
        <form action="" method="POST" class="form" role="form">
            {{ forgot_password_form.hidden_tag() }}
            {{ render_field_with_errors(forgot_password_form.email, tabindex=10) }}
            {{ forgot_password_form.submit(class="btn btn-primary", tabindex=90) }}
        </form>
	</div>
</div>
{% endblock %}