{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{% block title %}{{ challenge.name }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
<style type="text/css">
    .tag{
        cursor: pointer
    }
    .bg-white {
        background-color: #ffffff !important;
    }
</style>
{% endblock %}
{% block breadcrumb %}{{ breadcrumbs(group=challenge.group, challenge=challenge) }}{% endblock %}
{% block content %}
    <h1 class="">{{ challenge.name }} <span class="tag tag-info">{{ challenge.status }}</span><br>
        <small>by {{ challenge.author.username }}</small>
    </h1>
    <p class="lead">
        {{ challenge.description }}
    </p>
    {% if challenge.upcoming %}
        <p class="text-success">Starts in: {{challenge.starts_in}}</p>
    {% elif challenge.active %}
        <p class="text-warning">Time Left: {{ challenge.time_left }}</p>
    {% endif %}
    <p class="">Judge: {{challenge.judge.username}}</p>
    <h2>Prompts</h2>
    <ul>
        {% for p in challenge.prompts %}
        <li id="prompt{{p.id}}">{{ p.prompt }} <span class="smallD text-danger" data-delete="prompt" data-id="{{p.id}}"></span></li>
        {% endfor %}
    </ul>
    {% if current_user == challenge.author and challenge.complete == false  %}
    <p>
        <form class="form-group {{ 'has-danger' if form.errors }}" action="" method="POST">
            {{ form.hidden_tag() }}
            {{ render_field(form.prompt, label=false, placeholder='Add New Prompt') }}
            <button id="create" class="btn btn-primary" type="submit">Create</button>
        </form>
    </p>
    {% endif %}
    
    {% if challenge.active %}
        {% if current_user != challenge.judge %}
            <p>
                <a class="btn btn-primary" href="{{url_for('main.enter', challenge_id=challenge)}}">Enter Now!</a>
            </p>
        {% endif %}
    {% endif %}
    
    {% if challenge.complete == false and current_user == challenge.judge and challenge.entry_count > 0 %}
<!--         <a class="btn btn-primary" href="#">Judge Entries</a> -->
        <h2>Judge Entries</h2>
        <ul>
            {% for p in challenge.players %}
            <li>
                <a class="entryLink" href="#" player_id="{{ p.id }}">Entry {{ loop.index }}</a>
                     (Score: <span id="score{{p.id}}">{{ challenge.player_score(p) }}</span>)
            </li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary" href="{{ url_for('main.close', challenge_id=challenge.id) }}">Complete Challenge!</a>
    {% elif challenge.complete %}
        <h2>Winner</h2>
        <ul>
            <li><a class="entryLink" href="#" player_id="{{ challenge.winner.id }}">{{ challenge.winner.username }}</a></li>
        </ul>
        <h2>All Players</h2>
        <ul>
            {% for p in challenge.players if p != challenge.winner %}
            <li><a class="entryLink" href="#" player_id="{{ p.id }}">{{ p.username }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if current_user in [challenge.group.owner, challenge.author] %}
        <br><br>
        <div class="float-md-right">
            {% if challenge.complete != true %}
            <a href="{{ url_for('main.edit_challenge', challenge_id=challenge) }}" class="btn btn-warning btn-sm">
                <i class="fa fa-pencil"></i> Edit Challenge
            </a>
            {% endif %}
            <a href="{{ url_for('main.delete_challenge', challenge_id=challenge.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('Really?')">
                <i class="fa fa-trash"></i> Delete Challenge
            </a>
        </div>
    {% endif %}
    <div id="entry" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="entryTitle" aria-hidden="true">
    	<div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="entryTitle">{{ challenge.name }}</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="" id="entryResults"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        
        {% if current_user in [challenge.author, challenge.group.owner] and (challenge.active or challenge.upcoming) %}
            $.each($(".smallD"), function (i, e) {
               var el = $(e);
               el.html('<i class="fa fa-trash deleteD"></i>'); 
            });
            
            $(document).on("click", ".deleteD",function() {
                $(this).parent().html('<span class="cancelD tag tag-success text-white"><i class="fa fa-times "></i> Cancel</span> <span class="confirmD tag tag-danger text-white"><i class="fa fa-trash confirmD"></i> Delete</span>');
            });
            
            $(document).on("click", ".cancelD",function() {
              $(this).parent().html('<i class="fa fa-trash deleteD"></i>');
            });
            
            $(document).on("click", ".confirmD",function() {
                p = $(this).parent();
                elId = p[0].attributes['data-delete'].value;
                dataId = parseInt(p[0].attributes['data-id'].value);
                console.log(elId, dataId);
                
                $.get(Flask.url_for('main.delete', {'model': elId, 'model_id': dataId}), function (data){
                    if (data.response == 'OK'){
                        $('#'+elId+dataId).toggle();
                    }
                    else{
                        console.log(data)
                    }
                });
            });
        {% endif %}
        
        $( ".entryLink" ).on('click', function( e ) {
          
          var player_id = $(this).attr('player_id');
          
          $.get(Flask.url_for('main.entry', {'challenge_id':{{ challenge.id }}, 'user_id': player_id }), function (data){
              $('#entryResults').html(data);
              $('#entry').modal('toggle');
              window.total_score = 0
              $(".rateYo").rateYo({
                  rating: 0,
                  onInit: function (rating, rateYoInstance) {
                      var p_rating = parseFloat(rateYoInstance.node.attributes.rating.value);
                      total_score += p_rating;
                      rateYoInstance.rating(p_rating);
                  },
                  onSet: function (rating, rateYoInstance) {
                      var entry_id = rateYoInstance.node.attributes.entry_id.value;
                      var p_rating = parseFloat(rateYoInstance.node.attributes.rating.value);
                                            
                      if (p_rating != rating){
                          total_score += rating - p_rating;
                          $.get(Flask.url_for('main.score', {'challenge_id':{{ challenge.id }}, 'entry_id': entry_id, 'score':rating }), function (data){
                              //console.log("Rating for " + entry_id + " is set to " + rating);
                              //console.log(data);
                          });
                      }
                  }
                  
              });
          });
          
          $('#entry').on('hidden.bs.modal', function (e) {
              //console.log(player_id);
              $('#score'+player_id).html(window.total_score.toFixed(2));
          })
          
        });
    });
</script>
{% endblock %}