{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{% block title %}Edit Challenge{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.css" />
-->
{% endblock %}
{% block breadcrumb %}{{ breadcrumbs(group=challenge.group, challenge=challenge, new="Edit") }}{% endblock %}
{% block content %}
    <h1>Edit {{ challenge.name }}</h1>
    <p class="alert alert-info">Please note all times are {{ config.DEFAULT_TIMEZONE }}</p>
    <form class="form-group {{ 'has-danger' if form.errors }}" action="" method="POST">
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        {{ render_field(form.description) }}
        {{ render_field(form.judge_id) }}
        {{ render_field(form.date_range) }}
        {# { render_field(form.utc_end_time) } #}
        <br><button class="btn btn-primary" type="submit">Edit</button>
    </form>
    
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> -->
<script type="text/javascript">
    $(document).ready(function() {
//         $("#judge").select2();
        $('input[name="date_range"]').daterangepicker({
            //"singleDatePicker": true,
            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerIncrement": 10,
            "locale": {
                "format": "YYYY-MM-DD HH:mm"
            },
            "minDate": "{{ min_time }}"     
        });
/*
        $('input[name="utc_end_time"]').daterangepicker({
            "singleDatePicker": true,
            "timePicker": true,
            "timePicker24Hour": true,
            "timePickerIncrement": 15,
            "locale": {
                "format": "YYYY-MM-DD HH:mm"
            }
        });
*/
    });
</script>
{% endblock %}