{% if challenge.complete or current_user == challenge.judge or current_user == challenge.author %}
    {% if challenge.complete %}
    <div class="row">
        <div class="col-xs-12 text-xs-left" style="padding: 0">
            <p class="lead">
                {% if challenge.winner == user %}
                <i class="fa fa-trophy"></i> 
                {% endif %} 
                {{user.username}}'s entries
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-xs-left" style="padding: 0">
            <small>
                User Score: {{ challenge.player_score(user) }}         
            </small>
        </div>
        <div class="col-xs-6 text-xs-left" style="padding: 0"><small>Contest Best: {{ challenge.high_score[0] }}</small></div>
    </div>
    {% endif %}
    {% for p in challenge.prompts %}
    <hr>
    <div class="row">
        <dl>
            <dt>
                {{ p.prompt }} {% if challenge.complete and p.user_entry(user).score == p.high_score %}<i class="fa fa-star"></i>{% endif %}<br>
                {% if challenge.complete %}
                    <div class="float-xs-left"><small>Score: {{ p.user_entry(user).score }}</small></div>
                    <div class="float-xs-right"><small>Best: {{ p.high_score }}</small></div>
                {% elif p.user_entry(user).url %}
                    <div class="rateYo" rating="{{ p.user_entry(user).score or 0 }}" entry_id="{{p.user_entry(user).id}}" style="margin: 10px"></div>
                {% endif %}
            </dt>
            <dd><img src="{{ p.user_entry(user).url or '' }}" class="rounded" style="max-width: 100%"></dd>
        </dl>
    </div>
    {% endfor %}
{% endif %}